<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript"></script>
    <title>Asistencias</title>
</head>
<body onload="load();">
    <header id="header">
        <a href="#" class="logo">Asistencia</a>
        <ul>
            <li><a href="#" class="activate">Inicio</a></li>
            <li><a href="#">Iglesias</a></li>
            <li><a href="#">Reuniones</a></li>
            <li><a href="#">Administrador</a></li>
        </ul>
    </header>

    <section>
        <h2 id="texto_titulo">Bienvenido<br><span>seas</span></h2>
        <img src="../assets/img/bird1.png" id="bird1">
        <img src="../assets/img/bird2.png" id="bird2">
        <img src="../assets/img/forest.png" id="forest">        
        <a href="" id="btn_init">Asistencias</a>
        <img src="../assets/img/rocks.png" id="rocks">
        <img src="../assets/img/water.png" id="water">

    </section>
    <div class="seccion1">
        <h2>Como se manejan las asistencias</h2>
        <p> 3 Retardos es lo mismo que una falta</p>
        <p> 3 faltas baja definitiva del programa</p>
        <p> Con todas las asistencias del programa <br> 
            se dara mas privilegios en los asientos</p>
    </div>

    <footer>
        <p class="copyright">© Creado por <a href="#" target="_blank" rel="noopener noreferrer">Adan Rodriguez</a></p>
    </footer>

    <script>
        var texto_titulo=document.getElementById("texto_titulo");
        var bird1=document.getElementById("bird1");
        var bird2=document.getElementById("bird2");
        var forest=document.getElementById("forest");
        var btn_init=document.getElementById("text");
        var rocks=document.getElementById("rocks");
        var water=document.getElementById("water");
        var header=document.getElementById("header");

        
        window.addEventListener('scroll',function(){
            var value=window.scrollY;

            texto_titulo.style.top=50+value*-0.5+'%';
            bird1.style.top=value*-1.5+'px';
            bird1.style.left=value*2+'px';
            bird2.style.top=value*-1.5+'px';
            bird2.style.left=value*-5+'px';
            btn_init.style.marginTop=value*1.5+'px';
            rocks.style.top=value*-0.12+'px';
            water.style.top=value*0.25+'px';
            header.style.top=value*0.5+'px';
        })
    </script>
</body>
</html>